<meta charset= "utf-8">
<meta name= "viewport" content= "width=device-width, initial-scale=1">

* {
    box-sizing: border-box;
}

body {margin:0;}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    font-family: Verdana, Geneva, sans-serif;
}

h3 {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: greenyellow;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover {
    background-color: dodgerblue;
}

.active {
    background-color: dodgerblue;
}

h2 {
    font-size: 30px;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 30px;
    text-align: center;
    background-color: dodgerblue;
}

h3  {
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 30px;
}

article#left {
    float: left;   
    text-align: center;
    width: 60%
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

table, td, th {
    border: 1px solid black;
}

table {
    font-size: 20;
    font-family: Verdana, Geneva, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 25%;
    margin-right: 25%
}

table#small {
    font-size: 20;
    font-family: Verdana, Geneva, sans-serif;
    border-collapse: collapse;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

table#large {
    font-size: 20;
    font-family: Verdana, Geneva, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

th {
    text-align: center;
}

th, td {
    padding: 6px;
}

tr:nth-child(even) {
    background-color: lightyellow;
}

p {
    font-size: 20;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 30px;
    padding-right: : 30px;
}
