<!DOCTYPE html>
<html>

<head>

<title>CSS for Website</title>
<meta charset= "utf-8">
<meta name= "viewport" content= "width=device-width, initial-scale=1">

<style>

* {
    box-sizing: border-box;
}

body {margin:0;}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    font-family: Verdana, Geneva, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover {
    background-color: lavender;
}

.active {
    background-color: lavender;
}

h2 {
    font-size: 30px;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 30px;
    text-align: center;
    background-color: lavender;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

table, td, th {
    border: 1px solid black;
}

table {
    font-size: 20;
    font-family: Verdana, Geneva, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
}

th {
    text-align: left;
}

th, td {
    padding: 7px;
}

p {
    font-size: 20;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 30px;
}

</head>
</style>
</html>